body {font-family:Roboto;}
a:active, a:focus, a:visited, a:focus {text-decoration:none;outline: none;}

/* Фоновый салйдер */
.bg-slider { width:100%; height:100%; position:absolute; z-index:0; top:0; left:0; background-color: #000;}
@keyframes slick {
    0% { opacity:0; transform:scale(1); animation-timing-function: ease-in;}
    10% { opacity:1; animation-timing-function: ease-out;}
    90% { opacity:1;}
    100% { opacity:0; transform:scale(1.1); animation-timing-function: ease-out;}
}
.bg-slider .slick-slide { background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; transform:scale(1.1); opacity:0; -webkit-transform:scale(1.1);}
.bg-slider .slick-slide.slick-active { -webkit-animation-name:slick; animation-name:slick; }

/* Левая секция */
.side-menu {position:absolute;top:0;left:-250px;width:250px;height:100%;background-color: rgba(0,0,0,.9);text-transform:uppercase;}
.side-menu-burger {position:absolute;top:7%;left:50%;margin-left:-21.5px;color:#fff;width:43px;font-size: 14px;font-weight: 300;line-height: 72px;height:50px;background:url(../img/side-menu-burger.png) top center no-repeat;}
.side-menu-burger span {position:relative;top:10px;}

/* Меню список */
.side-menu-list {position:absolute;list-style:none;display:block;width:100%;top:20%;padding:0;}
.side-menu-list li {border-top:1px solid #666;text-align:center;}
.side-menu-list li:last-of-type {border-bottom:1px solid #666;}
.side-menu-list li a {font-size: 18px;font-weight: 400;padding:6% 0;text-decoration:none;color:#fff;display:block;transition:.3s;}
.side-menu-list li a:hover {background-color: #ef5050;letter-spacing:2px;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .side-menu-list li a:hover {background-color: #a8534a;letter-spacing:0px;}
}

/* Оставить отзыв */
.side-feedback {position:absolute; top:77%; left:50%; margin-left:-100px;border:1px solid #666;text-align:center;font-size: 16px;font-weight: 300;line-height: 55px;width:200px;color:#666;}

/* Социальные сети */
.side-socials {position:absolute;bottom:3%;left:50%;width:84px;margin-left:-26px;}
.side-socials a {font-size:16px;color:#fff;display:inline-block;margin-right:10px;width:20px; height:20px;}

/* Копирайт внизу в центре */
.copyright {font-size: 14px; font-weight: 400;position:absolute;width:400px;margin-left:-200px;left:50%;bottom:20px;text-align:center;color:#eee;}

/* Правая секция*/
.darkside {width:300px;height:100%;position:absolute;right:0px;top:0;
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12*/
}
.dark-bar {height:300px;position:absolute;top:50%;margin-top:-150px;color:#fff;right:50px;}
.dark-item {border-radius:50%;border:2px solid rgba(255,255,255,.75); height:40px;width:40px;text-align:center;line-height:40px;transition:.3s;cursor:pointer;}
.dark-item:hover {color:#000;background-color: #fff;}
.dark-item.call{margin-bottom:20px;}
.dark-item.mail{margin-bottom:50px;}
.dark-item.search{margin-bottom:20px;}
.dark-item.call i {font-size:25px;position:relative;top:4px;}
.dark-item.mail i {font-size:20px;position:relative;top:1px;}
.dark-item.search i {font-size:20px;position:relative;top:1px;}
.dark-item.lang i {text-transform:uppercase;font-style:normal; position:relative;top:-1px;}

/* Пароход внизу слева*/
.madeby .dark-item {display: inline-block;}
.madeby span {display: inline-block;color:#fff;margin:0 10px;opacity:.7;}
.madeby {position:absolute;bottom:20px;right:30px;font-size:14px;}
.madeby i:before {content:url(../img/ship.png);width:37px;height:40px;}
.madeby:hover i:before {content:url(../img/ship-hover.png);}
.madeby:hover .dark-item {background-color: #fff;}
.madeby:hover span {opacity:1;}

/* Поиск */
.search-block {position:relative;}
.search-input {position:absolute;right:0;color:#000;}
.search-input input {padding:10px 0 10px 0;line-height:20px;width:0;border-radius:20px;color:#000;border:none;background-color:rgba(255,255,255,.7)}
.search-block input:focus {outline:none;}
.dark-item.search {transition:.5s;}
.dark-item.search i input {width: 40px;  height: 40px; background: transparent; border: none; font-size: 0; border-radius: 50%; position: absolute; top: -10px;left: -11px;}
.search-input input::-webkit-input-placeholder { color: #333;}
.search-input input:-moz-placeholder { /* Firefox 18- */   color: #333; }
.search-input input::-moz-placeholder {  /* Firefox 19+ */  color: #333; }
.search-input input:-ms-input-placeholder { color: #333;  }

/* Логотип на главной */
.logo {position: absolute; width: 600px; margin-left: -300px; text-align: center;   left: 50%; top: 50%; margin-top: -77.5px;height:auto;
}
.logo-shadow {position: absolute; width: 1000px; margin-left: -500px; left: 50%; top: 50%; margin-top:-156px; height:312px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%, rgba(179,179,179,0) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Общие стили для внутренних */
section.main {position:fixed;top:40px;bottom:40px;left:50%;width:1200px;margin-left:-600px;background:#222;height:90%;color:#fff;padding:30px 0;}
.wrapper {height:100%;position:relative;}
section.main:after {content:'';width:100%;position:absolute;height:50px;bottom:30px;left:0;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}
.simplebar-content {padding:0 50px;}
header {text-align:center;padding:20px 0 10px;}
header h1 {text-transform:uppercase;}
header:after {content:"";display:inline-block;height:1px; width:200px;background:#aaa;position:relative;bottom:10px;}
article {padding:10px 50px;}

/* О нас */
.about figure {display:inline-block;width:25%;margin:40px -2px; padding:10px;vertical-align:top;}
.about figure div {margin:0px auto 20px;}
.about figure:nth-of-type(1) div { background-image: url(../img/sprite.png); background-position: -102px -101px; width: 102px; height: 96px;}
.about figure:nth-of-type(2) div { background-image: url(../img/sprite.png); background-position: 0px 0px; width: 102px; height: 101px;}
.about figure:nth-of-type(3) div { background-image: url(../img/sprite.png); background-position: -102px 0px; width: 102px; height: 101px;}
.about figure:nth-of-type(4) div { background-image: url(../img/sprite.png); background-position: 0px -101px; width: 102px; height: 101px;}
.about figcaption {text-align:center;color:#aaa;}
.about p:last-child {padding:50px 0 20px;text-align:center;}

/* Сервисы */
.services {text-align:center;padding:0 0 40px;}
.serv-item{display:inline-block;margin:10px;position:relative;}
.serv-item img {width:500px;height:250px;}
.serv-item div {position:absolute; top:0; width:100%;background-color:rgba(0,0,0,.7);text-transform:uppercase;height:24%;transition:height .3s;}
.serv-item p {padding:20px 0; font-size:15px;transition:.3s;}
.serv-item a {opacity:0;transition:.5s;background-color: rgba(255,255,255,.4);text-align:center;line-height:50px;width:200px;position:absolute;top:50%;color:#fff;left:50%;margin-left:-100px;}
.serv-item:hover div {height:100%;}
.serv-item:hover p {padding:70px 0 0 ;}
.serv-item:hover a {opacity:1;text-decoration:none;}
.serv-item a:hover {letter-spacing:2px;background-color: #ef5050;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .serv-item a:hover {letter-spacing:0px;background-color: #ef5050;}
}

/* Сервисы детально */
.serv-det {padding-bottom:50px;padding-top:50px;}
.serv-det p {margin:20px 0;}
.serv-det-header img {display:inline-block;width:30%;height:auto;margin-right:2%;vertical-align:top;}
.serv-det-header p {width:65%;display:inline-block;margin:0;}
.serv-det-icons {text-align:center;margin:20px 0;}
.serv-det figure {display:inline-block;width:140px;height:140px;position:relative;margin:10px; padding:10px;vertical-align:top;}
.serv-det figure div {margin:0 auto;}
.serv-det figure:nth-of-type(1) div { background-image: url(../img/sprite.png);background-position: -204px 0px; width: 76px; height: 83px;}
.serv-det figure:nth-of-type(2) div { background-image: url(../img/sprite.png);background-position: -280px 0px; width: 60px; height: 84px;}
.serv-det figure:nth-of-type(3) div { background-image: url(../img/sprite.png);background-position: 0px -202px; width: 84px; height: 72px;}
.serv-det figure:nth-of-type(4) div { background-image: url(../img/sprite.png);background-position: -84px -202px; width: 77px; height: 71px;}
.serv-det figure:nth-of-type(5) div { background-image: url(../img/sprite.png);background-position: -204px -83px; width: 76px; height: 68px;}
.serv-det figcaption {display:block;position:absolute;bottom:0;margin:0 auto;width:85%;}
.serv-det a {padding:20px 0;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;display:block;margin:30px auto;width:200px;transition:.3s;text-align:center;border-radius:5px;font-size:18px;}
.serv-det a:hover {border:2px solid #fff; color:#333; background:#fff;text-decoration:none;}

/* Хлебные крошки */
.bread-crumbs {position:fixed;top:40px;left:50%;width:1200px;margin-left:-600px;background:#000;}
.bread-crumbs a {display:inline-block;padding:20px 30px;color:#aaa;margin:0px 5px;position:relative;transition:.3s;}
.bread-crumbs a:not(:last-child):after {content:'';background:url(../img/crumbs.png) top left/cover no-repeat;position:absolute;top:0;right:-20px;display:block;height:60px;width:24px;}
.bread-crumbs a:hover {color:#fff;text-decoration:none;}

/* Работы */
.work-cats {text-align:center;display:block;width:100%;}
.work-cats a {margin:0 8px;position:relative;display:inline-block;padding:20px 10px;color:#fff;}
.work-cats a div{width:1px;position:absolute;top:22px;height:15px;background:#fff;transition:.3s;}
.work-cats a:not(:last-child) div:last-child {opacity:0;}
.work-cats a div:first-child {left:-10.5px;}
.work-cats a div:last-child {right:-10px;}
.work-cats a:hover {color:#ef5050;text-decoration:none;}
.work-cats a:hover div {transform:rotate(90deg);background-color:#ef5050;}
.work-cats a:hover + a div:first-child,.work-cats a:active + a div:first-child{opacity:1;transform:rotate(-90deg);background-color:#ef5050;}
.work-cats a:last-child:hover div:last-child {transform:rotate(-90deg);}


.work-gal {margin:20px auto 50px;}
.work-gal:after {content: ''; display: block;clear: both;}
.gal-item  {width:350px;float:left;margin-bottom:10px;}
.gal-item.wide {width:700px;}

.gal-item>div {position:relative;width:auto;}
.gal-item>div>div {position:absolute; width:100%; height:100%;top:0;left:0;color:#ccc;background:rgba(0,0,0,.85) url(../img/work-hover.png) center 30% no-repeat;transition:.3s;opacity:0;}
.gal-item>div>div>span {position:absolute;top:70%;text-align:center;width:100%;}
.gal-item>div img {display: block; max-width: 100%; margin:0 auto;}
.gal-item:hover>div>div {opacity:1;} 

/* Новости */
.news-wrapper:after {content: ''; display: block;clear: both;}
.news-wrapper {width:90%;margin-left:8.5%;margin-bottom:50px;}
.news-item {width:45%;float:left;margin-bottom:35px;padding:0;}
.news-item a {color:#ef5050; font-size:18px;}
.news-item p {display:inline;}
.news-item a:last-child{display:inline;}
.news-item h3 {font-size:18px;}
.news-item a:hover {text-decoration:underline;}
.news-item img {display:block;max-width:100%;margin:20px 0 15px;}

