/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

body {font-family:Roboto;}

.bg-slider {
    width:100%;
    height:100%;
    position:absolute;
    z-index:0;
    top:0;
    left:0;
    background-color: #000;
}


@keyframes slick {
    0% {
        opacity:0;
        transform:scale(1);
        animation-timing-function: ease-in;
    }
        
    10% {
        opacity:1;
        animation-timing-function: ease-out;
    }
    
    90% {
        opacity:1;
    }
    
    100% {
        opacity:0;
        transform:scale(1.1);
        animation-timing-function: ease-out;
    }
}


.bg-slider .slick-slide {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transform:scale(1.1);
    opacity:0;
    -webkit-transform:scale(1.1);
}

.bg-slider .slick-slide.slick-active { -webkit-animation-name:slick; animation-name:slick; }
.side-menu {position:absolute;top:0;left:-250px;width:250px;height:100%;background-color: rgba(0,0,0,.9);text-transform:uppercase;}
.side-menu-burger {position:absolute;top:7%;left:50%;margin-left:-21.5px;color:#fff;width:43px;font-size: 14px;font-weight: 300;line-height: 72px;height:50px;background:url(../img/side-menu-burger.png) top center no-repeat;}
.side-menu-burger span {position:relative;top:10px;}

.side-menu-list {position:absolute;list-style:none;display:block;width:100%;top:20%;padding:0;}
.side-menu-list li {border-top:1px solid #666;text-align:center;}
.side-menu-list li:last-of-type {border-bottom:1px solid #666;}
.side-menu-list li a {font-size: 18px;font-weight: 400;padding:6% 0;text-decoration:none;color:#fff;display:block;transition:.3s;}
.side-menu-list li a:hover {background-color: #ef5050;letter-spacing:2px;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .side-menu-list li a:hover {background-color: #a8534a;letter-spacing:0px;}
}


.side-feedback {position:absolute; top:77%; left:50%; margin-left:-100px;border:1px solid #666;text-align:center;font-size: 16px;font-weight: 300;line-height: 55px;width:200px;color:#666;}

.side-socials {position:absolute;bottom:3%;left:50%;width:84px;margin-left:-26px;}
.side-socials a {font-size:16px;color:#fff;display:inline-block;margin-right:10px;width:20px; height:20px;}



.side-menu.closed {width:80px !important;}
.side-menu.closed .side-menu-list li,
.side-menu.closed .side-feedback, .side-menu.closed .side-socials {opacity:0 !important;}

.copyright {font-size: 14px; font-weight: 400;position:absolute;width:400px;margin-left:-200px;left:50%;bottom:20px;text-align:center;color:#eee;}

.darkside {width:300px;height:100%;position:absolute;right:0px;top:0;
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12*/
}
 
.dark-bar {height:300px;position:absolute;top:50%;margin-top:-150px;color:#fff;right:50px;}
.dark-item {border-radius:50%;border:2px solid rgba(255,255,255,.75); height:40px;width:40px;text-align:center;line-height:40px;transition:.3s;cursor:pointer;}
.dark-item:hover {color:#000;background-color: #fff;}
.dark-item.call{margin-bottom:20px;}
.dark-item.mail{margin-bottom:50px;}
.dark-item.search{margin-bottom:20px;}

.dark-item.call i {font-size:25px;position:relative;top:4px;}
.dark-item.mail i {font-size:20px;position:relative;top:1px;}
.dark-item.search i {font-size:20px;position:relative;top:1px;}
.dark-item.lang i {text-transform:uppercase;font-style:normal; position:relative;top:-1px;}

.madeby .dark-item {display: inline-block;}
.madeby span {display: inline-block;color:#fff;margin:0 10px;opacity:.7;}

.madeby {position:absolute;bottom:20px;right:30px;font-size:14px;}
.madeby i:before {content:url(../img/ship.png);width:37px;height:40px;}
.madeby:hover i:before {content:url(../img/ship-hover.png);}
.madeby:hover .dark-item {background-color: #fff;}
.madeby:hover span {opacity:1;}

.search-block {position:relative;}
.search-input {position:absolute;right:0;color:#000;}
.search-input input {padding:10px 0 10px 0;line-height:20px;width:0;border-radius:20px;color:#000;border:none;background-color:rgba(255,255,255,.7)}
.search-block input:focus {outline:none;}
.dark-item.search {transition:.5s;}
.dark-item.search i input {width: 40px;  height: 40px; background: transparent; border: none; font-size: 0; border-radius: 50%; position: absolute; top: -10px;left: -11px;}
.search-input input::-webkit-input-placeholder { color: #333;}
:-moz-placeholder { /* Firefox 18- */   color: #333; }
::-moz-placeholder {  /* Firefox 19+ */  color: #333; }
:-ms-input-placeholder { color: #333;  }

.logo {position: absolute; width: 600px; margin-left: -300px; text-align: center;   left: 50%; top: 50%; margin-top: -77.5px;height:auto;
}
.logo-shadow {position: absolute; width: 1000px; margin-left: -500px; left: 50%; top: 50%; margin-top:-156px; height:312px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%, rgba(179,179,179,0) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section.main {position:fixed;top:40px;bottom:40px;left:50%;width:1200px;margin-left:-600px;background:#222;height:90%;color:#fff;padding:30px 0;}
.wrapper {height:100%;position:relative;}
section.main:after {content:'';width:100%;position:absolute;height:50px;bottom:30px;left:0;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}
.simplebar-content {padding:0 50px;}

header {text-align:center;padding:20px 0 10px;}
header h1 {text-transform:uppercase;}
header:after {content:"";display:inline-block;height:1px; width:200px;background:#aaa;position:relative;bottom:10px;}
article {padding:10px 50px;}

.about figure {display:inline-block;width:25%;margin:40px -2px; padding:10px;vertical-align:top;}
.about figure div {margin:0px auto 20px;}
.about figure:nth-of-type(1) div {
  background-image: url(../img/sprite.png);
  background-position: -102px -101px;
  width: 102px;
  height: 96px;
}
.about figure:nth-of-type(2) div {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 102px;
  height: 101px;
}
.about figure:nth-of-type(3) div {
  background-image: url(../img/sprite.png);
  background-position: -102px 0px;
  width: 102px;
  height: 101px;
}
.about figure:nth-of-type(4) div {
  background-image: url(../img/sprite.png);
  background-position: 0px -101px;
  width: 102px;
  height: 101px;
}
.about figcaption {text-align:center;color:#aaa;}

.about p:last-child {padding:50px 0 20px;text-align:center;}

.services {text-align:center;padding:0 0 40px;}
.serv-item{display:inline-block;margin:10px;position:relative;}
.serv-item img {width:500px;height:250px;}
.serv-item div {position:absolute; top:0; width:100%;background-color:rgba(0,0,0,.7);text-transform:uppercase;height:24%;transition:height .3s;}
.serv-item p {padding:20px 0; font-size:15px;transition:.3s;}
.serv-item a {opacity:0;transition:.5s;background-color: rgba(255,255,255,.4);text-align:center;line-height:50px;width:200px;position:absolute;top:50%;color:#fff;left:50%;margin-left:-100px;}
.serv-item:hover div {height:100%;}
.serv-item:hover p {padding:70px 0 0 ;}
.serv-item:hover a {opacity:1;text-decoration:none;}
.serv-item a:hover {letter-spacing:2px;background-color: #ef5050;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .serv-item a:hover {letter-spacing:0px;background-color: #ef5050;}
}

.serv-det {padding-bottom:50px;padding-top:50px;}
.serv-det p {margin:20px 0;}
.serv-det-header img {display:inline-block;width:30%;height:auto;margin-right:2%;vertical-align:top;}
.serv-det-header p {width:65%;display:inline-block;margin:0;}
.serv-det-icons {text-align:center;margin:20px 0;}
.serv-det figure {display:inline-block;width:140px;height:140px;position:relative;margin:10px; padding:10px;vertical-align:top;}
.serv-det figure div {margin:0 auto;}
.serv-det figure:nth-of-type(1) div {
  background-image: url(../img/sprite.png);
  background-position: -204px 0px;
  width: 76px;
  height: 83px;
}
.serv-det figure:nth-of-type(2) div {
  background-image: url(../img/sprite.png);
  background-position: -280px 0px;
  width: 60px;
  height: 84px;
}
.serv-det figure:nth-of-type(3) div {
  background-image: url(../img/sprite.png);
  background-position: 0px -202px;
  width: 84px;
  height: 72px;
}
.serv-det figure:nth-of-type(4) div {
  background-image: url(../img/sprite.png);
  background-position: -84px -202px;
  width: 77px;
  height: 71px;
}
.serv-det figure:nth-of-type(5) div {
  background-image: url(../img/sprite.png);
  background-position: -204px -83px;
  width: 76px;
  height: 68px;
}

.serv-det figcaption {display:block;position:absolute;bottom:0;margin:0 auto;width:85%;}
.serv-det a {padding:20px 0;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;display:block;margin:30px auto;width:200px;transition:.3s;text-align:center;border-radius:5px;font-size:18px;}
.serv-det a span {}
.serv-det a:hover {border:2px solid #fff; color:#333; background:#fff;text-decoration:none;}

.bread-crumbs {position:fixed;top:40px;left:50%;width:1200px;margin-left:-600px;background:#000;}
.bread-crumbs a {display:inline-block;padding:20px 30px;color:#aaa;margin:0px 5px;position:relative;transition:.3s;}
.bread-crumbs a:not(:last-child):after {content:'';background:url(../img/crumbs.png) top left/cover no-repeat;position:absolute;top:0;right:-20px;display:block;height:60px;width:24px;}
.bread-crumbs a:hover {color:#fff;text-decoration:none;}