body {font-family:Roboto;}
a:active, a:focus, a:visited, a:focus {text-decoration:none;outline: none;}

/* Фоновый салйдер */
.bg-slider { width:100%; height:100%; position:absolute; z-index:0; top:0; left:0; background-color: #000;}
@keyframes slick {
    0% { opacity:0; transform:scale(1); animation-timing-function: ease-in;}
    10% { opacity:1; animation-timing-function: ease-out;}
    90% { opacity:1;}
    100% { opacity:0; transform:scale(1.1); animation-timing-function: ease-out;}
}
.bg-slider .slick-slide { background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; transform:scale(1.1); opacity:0; -webkit-transform:scale(1.1);}
.bg-slider .slick-slide.slick-active { -webkit-animation-name:slick; animation-name:slick; }

/* Левая секция */
.side-menu {position:absolute;top:0;left:-250px;width:250px;height:100%;background-color: rgba(0,0,0,.9);text-transform:uppercase;}
.side-menu-burger div {width:62px;height:50px;background:url(../img/logo.png) center top no-repeat; background-size:49px 40px; transition:.5s ease-out; perspective;50px; transform:rotateY(0deg);}
.side-menu-burger:hover div {background-image:url(../img/logo-hover.png) !important;}
.side-menu-burger {position:absolute;top:7%;left:50%;margin-left:-31px;color:#fff;width:62px;font-size: 14px;font-weight: 300;height:50px;-webkit-perspective;100px;}
.side-menu-burger span { display:block; margin:0 auto; position:relative; top:-5px; transition:.5s ease-out; width:62px; text-align:center; }
.side-menu-burger:hover {text-decoration:none; color:#fff;}

/* Меню список */
.side-menu-list {position:absolute;list-style:none;display:block;width:100%;top:20%;padding:0;}
.side-menu-list li {border-top:1px solid #666;text-align:center;}
.side-menu-list li:last-of-type {border-bottom:1px solid #666;}
.side-menu-list li a {font-size: 18px;font-weight: 400;padding:6% 0;text-decoration:none;color:#fff;display:block;transition:.3s;}
.side-menu-list li a:hover {background-color: #ef5050;letter-spacing:2px;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .side-menu-list li a:hover {background-color: #a8534a;letter-spacing:0px;}
}

/* Оставить отзыв */
.side-feedback {position:absolute; top:77%; left:50%; margin-left:-100px;border:1px solid #666;text-align:center;font-size: 16px;font-weight: 300;line-height: 55px;width:200px;color:#666;transition:.3s;cursor:pointer;}
.side-feedback:hover {border:1px solid #fff; color:#666; background:#fff;}

/* Социальные сети */
.side-socials {position:absolute;bottom:3%;left:50%;width:84px;margin-left:-26px;}
.side-socials a {font-size:16px;color:#fff;display:inline-block;margin-right:10px;width:20px; height:20px;transition:.3s;}
.side-socials a:hover {font-size:20px;}

/* Копирайт внизу в центре */
.copyright {font-size: 14px; font-weight: 400;position:absolute;width:400px;margin-left:-200px;left:50%;bottom:20px;text-align:center;color:#eee;}

/* Правая секция*/
.darkside {width:300px;height:100%;position:absolute;right:0px;top:0;
background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(0,0,0,.75) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(0,0,0,.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12*/
}
.dark-bar {height:300px;position:absolute;top:50%;margin-top:-150px;color:#fff;right:50px;}
.dark-item {border-radius:50%;height:40px;width:40px;text-align:center;}
.dark-item i {display:block;border-radius:50%;border:2px solid rgba(255,255,255,.75); height:40px;width:40px;line-height:40px;transition:.3s;cursor:pointer;}
.dark-item:hover i {color:#000;background-color: #fff;}
.dark-item.call{margin-bottom:20px;position:relative;}
.dark-item.mail{margin-bottom:50px;position:relative;}
.dark-item.search{margin-bottom:20px;}
.dark-item.lang {position:relative;}
.dark-item.call i {font-size:25px;position:relative;}
.dark-item.mail i {font-size:20px;line-height:36px;position:relative;}
.dark-item.search i {font-size:20px;line-height: 36px;position:relative;}
.dark-item.lang i {text-transform:uppercase;font-style:normal; position:relative;}
.dark-item.call>div { height:0px;background:#222;position:absolute;bottom:20px;right:20px;border-radius:10px;border-bottom-right-radius:12%;width:0px; transition:.3s;overflow:hidden; text-align:left;padding:0px;opacity:0;
-webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}
.dark-item.call>div p { color:#fff; font-size:0px; font-weight:bold; transition:.4s;}
.dark-item.call>div span {border-bottom:1px dashed #ef5050; color:#ef5050; cursor:pointer; font-size:0;transition:.3s ;}
.dark-item.call:hover>div{ opacity:1; width:200px; height:150px; bottom:0px; right:0px; padding:20px;}
.dark-item.call:hover>div p {font-size:16px;}
.dark-item.call:hover>div span {font-size:14px;}

.dark-item.mail>div { background:#222; position:absolute; bottom:0; right:0; border-radius:30px;width:0px; transition:.3s; overflow:hidden; text-align:left; line-height:40px; color:#fff; opacity:0; 
-webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}
.dark-item.mail>div p {margin:0;}
.dark-item.mail:hover>div{ opacity:1; width:auto;padding: 0 50px 0 20px;}

.dark-item.lang>div { background:#222; position:absolute; top:-3px; right:50%; margin-right:-24px; border-radius:30px;width:48px; transition:.3s; overflow:hidden; text-align:left; line-height:40px; color:#000; opacity:0; z-index:1; height:0;transition:.3s;
-webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}
.dark-item.lang>div a {text-transform:uppercase; display:block;border-radius:50%;width:40px;text-align:center;height:40px; line-height: 42.5px; transition: .3s; cursor: pointer;margin:3.5px auto;color:#ccc;}
.dark-item.lang:hover>div{ opacity:1; height:92px;;padding: 0;opacity:1;}
.dark-item.lang>div a:hover {background-color: #fff;color:#000; text-decoration:none;
-webkit-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 4px 0px rgba(221,221,221,1);
}

/* Пароход внизу слева*/
.madeby .dark-item {display: inline-block;}
.madeby span {display: inline-block;color:#fff;margin:0 10px;opacity:.7;}
.madeby {position:absolute;bottom:20px;right:30px;font-size:14px;}
.madeby i:before {content:url(../img/ship.png);width:37px;height:40px;}
.madeby:hover i:before {content:url(../img/ship-hover.png);}
.madeby:hover .dark-item i {background-color: #fff;}
.madeby:hover span {opacity:1;}

/* Поиск */
.search-block {position:relative;}
.search-input {position:absolute;right:0;color:#fff;}
.search-input input {padding:10px 0 10px 0;line-height:20px;width:0;border-radius:20px;color:#ааа;border:none;background-color:#222;
-webkit-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
box-shadow: 0px 0px 5px 0px rgba(221,221,221,1);
}
.search-block input:focus {outline:none;}
.dark-item.search {transition:.5s;}
.dark-item.search i input {width: 40px;  height: 40px; background: transparent; border: none; font-size: 0; border-radius: 50%; position: absolute; top: -10px;left: -11px;}
.search-input input::-webkit-input-placeholder { color: #aaa;}
.search-input input:-moz-placeholder { /* Firefox 18- */   color: #aaa; }
.search-input input::-moz-placeholder {  /* Firefox 19+ */  color: #aaa; }
.search-input input:-ms-input-placeholder { color: #aaa;  }

/* Логотип на главной */
.logo {position: absolute; width: 600px; margin-left: -300px; text-align: center;   left: 50%; top: 50%; margin-top: -77.5px;height:auto;
}
.logo-shadow {opacity:0;transition:opacity 2s;position: absolute; width: 1000px; margin-left: -500px; left: 50%; top: 50%; margin-top:-156px; height:312px;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%, rgba(179,179,179,0) 70%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.75) 0%,rgba(179,179,179,0) 70%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Общие стили для внутренних */
section.main {position:fixed;top:40px;bottom:40px;left:50%;width:1200px;margin-left:-600px;background:#222;height:90%;color:#fff;padding:30px 0;}
.wrapper {height:100%;position:relative;}
section.main:after {content:'';width:100%;position:absolute;height:50px;bottom:29px;left:0;
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bf000000',GradientType=0 ); /* IE6-9 */
}
.simplebar-content {padding:0 50px;}
header {text-align:center;padding:20px 0 10px;}
header h1 {text-transform:uppercase;}
header:after {content:"";display:inline-block;height:1px; width:200px;background:#aaa;position:relative;bottom:10px;}
article {padding:10px 50px;}

/* О нас */
.about figure {display:inline-block;width:25%;margin:40px -2px; padding:10px;vertical-align:top;}
.about figure div {margin:0px auto 20px;}
.about figure:nth-of-type(1) div { background-image: url(../img/sprite.png); background-position: -102px -101px; width: 102px; height: 96px;}
.about figure:nth-of-type(2) div { background-image: url(../img/sprite.png); background-position: 0px 0px; width: 102px; height: 101px;}
.about figure:nth-of-type(3) div { background-image: url(../img/sprite.png); background-position: -102px 0px; width: 102px; height: 101px;}
.about figure:nth-of-type(4) div { background-image: url(../img/sprite.png); background-position: 0px -101px; width: 102px; height: 101px;}
.about figcaption {text-align:center;color:#aaa;}
.about p:last-child {padding:50px 0 20px;text-align:center;}

/* Сервисы */
.services {text-align:center;padding:0 0 40px;}
.serv-item{display:inline-block;margin:20px;position:relative;
-webkit-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
}
.serv-item img {width:500px;height:250px;}
.serv-item div {position:absolute; top:0; width:100%;background-color:rgba(0,0,0,.7);text-transform:uppercase;height:24%;transition:height .3s;}
.serv-item p {padding:20px 0; font-size:15px;transition:.3s;}
.serv-item a {opacity:0;transition:.5s;background-color: rgba(255,255,255,.4);text-align:center;line-height:50px;width:200px;position:absolute;top:50%;color:#fff;left:50%;margin-left:-100px;}
.serv-item:hover div {height:100%;}
.serv-item:hover p {padding:70px 0 0 ;}
.serv-item:hover a {opacity:1;text-decoration:none;}
.serv-item a:hover {letter-spacing:2px;background-color: #ef5050;}
@-moz-document url-prefix(){ /*Мозилла не поддерживает letterspacing*/
    .serv-item a:hover {letter-spacing:0px;background-color: #ef5050;}
}

/* Сервисы детально */
.serv-det {padding-bottom:50px;padding-top:50px;}
.serv-det p:not(:first-of-type) {text-indent:40px;}
.serv-det p:first-of-type:first-letter {font-size:1.5em;}
.serv-det p {margin:0 0 20px;}
.serv-det img { float: left;  margin: 0px 20px 10px 0;}
.serv-det-icons {text-align:center;padding:20px 0x;clear:both;}
.serv-det figure {display:inline-block;width:140px;height:140px;position:relative;margin:10px; padding:10px;vertical-align:top;}
.serv-det figure div {margin:0 auto;}
.serv-det figure:nth-of-type(1) div { background-image: url(../img/sprite.png);background-position: -204px 0px; width: 76px; height: 83px;}
.serv-det figure:nth-of-type(2) div { background-image: url(../img/sprite.png);background-position: -280px 0px; width: 60px; height: 84px;}
.serv-det figure:nth-of-type(3) div { background-image: url(../img/sprite.png);background-position: 0px -202px; width: 84px; height: 72px;}
.serv-det figure:nth-of-type(4) div { background-image: url(../img/sprite.png);background-position: -84px -202px; width: 77px; height: 71px;}
.serv-det figure:nth-of-type(5) div { background-image: url(../img/sprite.png);background-position: -204px -83px; width: 76px; height: 68px;}
.serv-det figcaption {display:block;position:absolute;bottom:0;margin:0 auto;width:85%;}
.serv-det a {padding:20px 0;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;display:block;margin:30px auto;width:200px;transition:.3s;text-align:center;border-radius:5px;font-size:18px;}
.serv-det a:hover {border:2px solid #fff; color:#333; background:#fff;text-decoration:none;}

/* Хлебные крошки */
.bread-crumbs {position:fixed;top:40px;left:50%;width:1200px;margin-left:-600px;background:#000;}
.bread-crumbs a {display:inline-block;padding:20px 30px;color:#aaa;margin:0px 5px;position:relative;transition:.3s;}
.bread-crumbs a:not(:last-child):after {content:'';background:url(../img/crumbs.png) top left/cover no-repeat;position:absolute;top:0;right:-20px;display:block;height:60px;width:24px;}
.bread-crumbs a:hover {color:#fff;text-decoration:none;}

/* Работы */
.work-cats {text-align:center;display:block;width:100%;}
.work-cats a {margin:0 8px;position:relative;display:inline-block;padding:20px 10px;color:#fff;}
.work-cats a div{width:1px;position:absolute;top:22px;height:15px;background:#fff;transition:.3s;}
.work-cats a:not(:last-child) div:last-child {opacity:0;}
.work-cats a div:first-child {left:-10.5px;}
.work-cats a div:last-child {right:-10px;}
.work-cats a:hover {color:#ef5050;text-decoration:none;}
.work-cats a:hover div {transform:rotate(90deg);background-color:#ef5050;}
.work-cats a:hover + a div:first-child,.work-cats a:active + a div:first-child{opacity:1;transform:rotate(-90deg);background-color:#ef5050;}
.work-cats a:last-child:hover div:last-child {transform:rotate(-90deg);}


.work-gal {margin:20px auto 50px;}
.work-gal:after {content: ''; display: block;clear: both;}
.gal-item  {width:350px;float:left;margin-bottom:10px;
-webkit-box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
-moz-box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
}
.gal-item.wide {width:700px;}

.gal-item>div {position:relative;width:auto;}
.gal-item>div>div {position:absolute; width:100%; height:100%;top:0;left:0;color:#ccc;background:rgba(0,0,0,.5) url(../img/work-hover.png) center 30% no-repeat;transition:.3s;opacity:0;}
.gal-item>div>div>span {position:absolute;top:70%;text-align:center;width:100%;}
.gal-item>div img {display: block; max-width: 100%; margin:0 auto;}
.gal-item:hover>div>div {opacity:1;} 

/* Новости */
.news-wrapper:after {content: ''; display: block;clear: both;}
.news-wrapper {width:90%;margin-left:8.5%;margin-bottom:50px;margin-top:30px}
.news-item {width:45%;float:left;margin-bottom:35px;padding:0 20px 20px; background:#333;
-webkit-box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
-moz-box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
box-shadow: 0px 0px 33px 5px rgba(17,17,17,1);
}
.news-item a {color:#ef5050; font-size:18px;}
.news-item p {display:inline;}
.news-item a:last-child{display:inline;}
.news-item h3 {font-size:18px;}
.news-item a:hover {text-decoration:underline;}
.news-item img {display:block;max-width:100%;margin:20px 0 15px;}

/* Новости детально */
.news-det {padding:40px 100px 50px;}
.news-det p:not(:first-of-type) {text-indent:40px;}
.news-det p:first-of-type:first-letter {font-size:1.5em;}
.news-det p {margin:0 0 20px;}
.news-det img { float: left;  margin: 0px 20px 10px 0;}
.news-det a {padding:20px 0;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;display:block;margin:30px auto;width:200px;transition:.3s;text-align:center;border-radius:5px;font-size:18px;}
.news-det a:hover {border:2px solid #fff; color:#333; background:#fff;text-decoration:none;}
.news-date {color:#aaa;}

/* Контакты */
.contacts header {padding: 5px 0px;}
.contacts article {text-align:center;padding:5px 50px;}
.contacts article>div {display:inline-block;text-align:left; margin:0 15px;}
.contacts article div i, .contacts article div p {display:inline-block;}
.contacts article div i {padding-right:10px;font-size:1.2em;}
.map {height:350px; margin:20px 0 0;
-webkit-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 33px 5px rgba(0,0,0,0.75);}
.contacts article h3 {color:#ddd;padding:10px 0;}
.contacts article form>div {display:inline-block;width:35%;vertical-align:top;}
.contacts article form>div:last-child {width:20%;text-align:right;}
.contacts article form input {display:block;background:#222;border-color:transparent; border-bottom:2px solid #666;outline:none;}
.contacts article form input:focus, .contacts article form textarea:focus {background:#333;}
.contacts article form input::-webkit-input-placeholder { font-style:italic}
.contacts article form input:-moz-placeholder { /* Firefox 18- */   font-style:italic }
.contacts article form input::-moz-placeholder {  /* Firefox 19+ */  font-style:italic }
.contacts article form input:-ms-input-placeholder { font-style:italic }
.contacts article form textarea::-webkit-input-placeholder { font-style:italic}
.contacts article form textarea:-moz-placeholder { /* Firefox 18- */   font-style:italic }
.contacts article form textarea::-moz-placeholder {  /* Firefox 19+ */  font-style:italic }
.contacts article form textarea:-ms-input-placeholder { font-style:italic }
.contacts article form input[type='text'], .contacts article form input[type='email'] {padding:10px;margin:10px;width:90%;}
.contacts article form textarea {height:105px;width:90%;background:#222;border:2px solid #666;outline:none;padding:10px;}
.contacts article form input[type='submit'] {display:inline-block;padding:15px;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;vertical-align:middle;transition:.3s;border-radius:5px;font-size:18px;}
.contacts article form input[type='submit']:hover {border:2px solid #fff; color:#333; background:#fff;}

.clients, .partners {text-align:center;}
.partners { margin:0 0 40px;}

.clients figure, .partners figure {text-align:center; display:inline-block;}
.clients figcaption, .partners figcaption {width:160px; margin:10px 0 0 ;}
.clients-wrap { left: -1.5%;}
.clients .slick-slide:focus {outline:none;}
.clients .slick-arrow {font-size:40px; color:#ef5050; position:absolute; top:25%;}
.clients .slick-arrow.fa-angle-left {left:-2%;}
.clients .slick-arrow.fa-angle-right {right:-5%;}

.about-1 { /* Avers */
  background-image: url(../img/about.png);
  background-position: 0px -55px;
  width: 160px;
  height: 55px;
}
.about-10 { /* Global */
  background-image: url(../img/about.png);
  background-position: 0px -220px;
  width: 160px;
  height: 55px;
}
.about-11 { /* Fokstrot */
  background-image: url(../img/about.png);
  background-position: -160px 0px;
  width: 160px;
  height: 55px;
}
.about-12 { /* Gold */
  background-image: url(../img/about.png);
  background-position: -160px -55px;
  width: 160px;
  height: 55px;
}
.about-13 { /* Upg */
  background-image: url(../img/about.png);
  background-position: 0px -110px;
  background-color:#fff;
  width: 160px;
  height: 55px;
}
.about-14 { /* Rud' */
  background-image: url(../img/about.png);
  background-position: -160px -110px;
  width: 160px;
  height: 55px;
}
.about-15 { /* MTC */
  background-image: url(../img/about.png);
  background-position: 0px -165px;
  width: 160px;
  height: 55px;
}
.about-16 { /* Kyivstar */
  background-image: url(../img/about.png);
  background-position: -160px -165px;
  width: 160px;
  height: 55px;
}
.about-17 { /* Bank Aval' */
  background-image: url(../img/about.png);
  background-position: 0px 0px;
  width: 160px;
  height: 55px;
}
.about-2 { /* Mihail */
  background-image: url(../img/about.png);
  background-position: -160px -220px;
  width: 160px;
  height: 55px;
}
.about-3 { /* WRS */
  background-image: url(../img/about.png);
  background-position: -320px 0px;
  width: 160px;
  height: 55px;
}
.about-4 { /* Prospekt */
  background-image: url(../img/about.png);
  background-position: -320px -55px;
  width: 160px;
  height: 55px;
}
.about-5 { /* Zhara */
  background-image: url(../img/about.png);
  background-position: -320px -110px;
  width: 160px;
  height: 55px;
}
.about-6 { /* Chas poisty */
  background-image: url(../img/about.png);
  background-position: -320px -165px;
  width: 160px;
  height: 55px;
}
.about-7 { /* Voronin */
  background-image: url(../img/about.png);
  background-position: -320px -220px;
  width: 160px;
  height: 55px;
}
.about-8 { /* Medilaif Apteka */
  background-image: url(../img/about.png);
  background-position: 0px -275px;
  width: 160px;
  height: 55px;
}
.about-9 { /* Sharikava */
  background-image: url(../img/about.png);
  background-position: -160px -275px;
  width: 160px;
  height: 55px;
}

.vacancies article:last-child {margin-bottom:50px;}
.vacancies article>div {display:inline-block; vertical-align:middle;}
.vacancies article .vac-list {border: 1px solid #fc7a38; color:#ccc;}
.vacancies article .vac-list h4 {text-transform:uppercase; text-align:center; margin:0; padding:25px 0 0;}
.vacancies article .vac-list ul {text-align:left;margin:0; padding:20px 25px 25px;  list-style:none;}
.vacancies article .vac-list li {background: url('../img/check.png') left center no-repeat; line-height:24px;padding-left:30px; margin:10px 0;}
.vacancies .vac-text { width:700px;padding-left:30px;}
.vacancies .vac-text:first-letter {font-size:1.5em;}
.vacancies .toggle-item {width:100%; margin-bottom:10px;}
.vacancies .toggle-trigger {cursor:pointer; background-color: #464646; }
.vacancies .toggle-trigger h4 {margin:0; padding:15px 20px; font-weight:bold;}
.vacancies .toggle-trigger h4 i {float:right; font-size:30px; margin-top:-5px; transition:.3s;}
.i-rotate {transform:rotate(180deg);}
.vacancies .toggle-content {display:none;}
.vacancies .vac-form {margin-top:20px; display:inline-block; vertical-align:top; width:400px; text-align:center; border:1px solid #666; padding:10px 25px 20px;}
.vacancies .vac-form form input {display:block;background:#222;border-color:transparent; border-bottom:2px solid #666;outline:none;}
.vacancies .vac-form form input:focus {background:#333;}
.vacancies .vac-form form input::-webkit-input-placeholder { font-style:italic}
.vacancies .vac-form form input:-moz-placeholder { /* Firefox 18- */   font-style:italic }
.vacancies .vac-form form input::-moz-placeholder {  /* Firefox 19+ */  font-style:italic }
.vacancies .vac-form form input:-ms-input-placeholder { font-style:italic }
.vacancies .vac-form form input[type='text'], .vacancies .vac-form form input[type='email'], .vacancies .vac-form form input[type='file'] {padding:10px;margin:15px auto;width:90%;}
.vacancies .vac-form form input[type='submit'] {display:inline-block;padding: 10px 15px;border:2px solid #ef5050; color:#ef5050; text-transform:uppercase;vertical-align:middle;transition:.3s;border-radius:3px;font-size:18px; margin-top:10px;}
.vacancies .vac-form form input[type='submit']:hover {border:2px solid #fff; color:#333; background:#fff;}

.vacancies .vac-description {display:inline-block; vertical-align:middle; padding:20px 30px;  width:590px; color:#ccc;}